p , h3{
  display: inline;
}

h1 {
  padding-top: 0px !important;
}

.username{
  margin-left: 2px;
  font-style: italic;
  font-weight: bold;
}

.body {
  background-color: #f2f2f2;
}

div.item.back {
  margin-left: 0 !important;
}

div.item.new-post {
  margin-right: 0 !important;
}

.ui.menu .item {
  position: static !important;
}

.ui .top-nav menu {
  margin-top: 0 !important;
  top: 0 !important;
}

.top-nav {
  /* border: none !important; */
  /* margin-top: 0!important; */
  top: 0 !important;
  margin-top: 0px !important;
  padding-top: 0 !important;
  position: sticky !important;
}

.right .item {
  margin-right: 0 !important;
}

.game-post-body{
  min-height: 100vh;
  background-color: #f2f2f2;
}

.new-post {
  background: none;
  border: none;
}
