.parent{
  min-height: 100vh;
  background-color: #f2f2f2;
}

h1 {
  margin-bottom: 20px !important;
}

.edit-post {
  text-align: right !important;
}

.post-top-nav {
  margin-bottom: 20px !important;
}
