.parent-container{
    min-height: 100vh;
    background-color: #f2f2f2;
}

.back {
    background: none;
    border: none;
}

/* @media screen and (min-width: 900px) {
    .Icon{
        position: fixed;
    }
} */
